*{font-size: 50px;}
body{background-color: rgb(252, 205, 255);}
.nav{background-color: black;}
.nav a{color: white;text-decoration: none;margin: 100px;}
h2{border:solid;width:80%; border-radius:40px;}